$cGris: #212529;
$cYellow: #fade4b;
$cWhite: #fff;

hr {
  margin: 70px 0;
}

.imgDescripcion {
  img {
    width: 100%;
  }
}

.desbord {
  overflow: hidden;
  background-size: cover;
}

.swLogo {
  width: 60px;
}

.btn-outline-success {
  background-color: $cYellow;
  border-color: none;
  color: $cGris
}

.btn-outline-success:hover {
  background-color: $cWhite;
  color: $cGris
}

.btn {
  background-color: $cYellow;
  border: 1px solid $cYellow;
  color: $cGris;
  font-weight: 500;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid $cYellow;
  color: $cYellow;
  font-weight: 500;
}

.mbtn {
  margin-bottom: 30px;
}

.imgrounded {
  width: 140px;
  border-radius: 50%;
}

.margenTemporadas {
  padding: 80px 10px 0;
  margin-bottom: 0;
}

.margenDescrip {
  padding: 20px 40px 20px;
}

.bigText {
  font-size: 3rem;
}

.enlace {
  text-decoration: none;
  color: $cYellow;
}

.enlace:hover {
  color:$cWhite;
}